rmcs_executor:
  ros__parameters:
    update_rate: 1000.0
    components:
      - rmcs_core::hardware::DualSentry -> dual_sentry_hardware

      - rmcs_core::referee::Status -> referee_status
      - rmcs_core::referee::Command -> referee_command

      # - rmcs_core::referee::command::Interaction -> referee_interaction
      # - rmcs_core::referee::command::interaction::Ui -> referee_ui

      - rmcs_core::controller::gimbal::SimpleGimbalController -> gimbal_controller
      - rmcs_core::controller::gimbal::DualYawController -> dual_yaw_controller
      - rmcs_core::controller::pid::ErrorPidController -> pitch_angle_err_pid_controller
      - rmcs_core::controller::pid::PidController -> pitch_velocity_pid_controller

      - rmcs_core::controller::shooting::FrictionWheelController -> friction_wheel_controller
      - rmcs_core::controller::shooting::HeatController -> heat_controller
      - rmcs_core::controller::shooting::BulletFeederController17mm -> bullet_feeder_controller
      - rmcs_core::controller::pid::PidController -> left_friction_velocity_pid_controller
      - rmcs_core::controller::pid::PidController -> right_friction_velocity_pid_controller
      - rmcs_core::controller::pid::PidController -> bullet_feeder_velocity_pid_controller

      - rmcs_core::controller::chassis::ChassisController -> chassis_controller
      - rmcs_core::controller::chassis::ChassisPowerController -> chassis_power_controller
      - rmcs_core::controller::chassis::OmniWheelController -> omni_wheel_controller

      - rmcs_core::broadcaster::ValueBroadcaster -> value_broadcaster

value_broadcaster:
  ros__parameters:
    forward_list:
      - /debug/imu_g_y
      - /gimbal/pitch/velocity_imu
      - /gimbal/pitch/control_velocity

dual_sentry_hardware:
  ros__parameters:
    usb_pid_top_board: 0xf18a
    usb_pid_bottom_board: 0x247f
    bottom_yaw_motor_zero_point: 0
    top_yaw_motor_zero_point: -350
    pitch_motor_zero_point: 1600

    imu_bias_x: 3
    imu_bias_y: 8
    imu_bias_z: 2


gimbal_controller:
  ros__parameters:
    upper_limit: -0.3
    lower_limit: 0.4

    joystick_left_bias_y: 0.0
    joystick_left_bias_x: 0.0

dual_yaw_controller:
  ros__parameters:
    top_yaw_angle_kp: 20.0
    top_yaw_angle_ki: 0.01
    top_yaw_angle_kd: 0.0
    top_yaw_velocity_kp: 3.4
    top_yaw_velocity_ki: 0.02
    top_yaw_velocity_kd: 0.0
    bottom_yaw_angle_kp: 5.0
    bottom_yaw_angle_ki: 0.0
    bottom_yaw_angle_kd: 0.0
    bottom_yaw_velocity_kp: 2.3
    bottom_yaw_velocity_ki: 0.0
    bottom_yaw_velocity_kd: 0.0


pitch_angle_err_pid_controller:
  ros__parameters:
    measurement: /gimbal/pitch/control_angle_error
    control: /gimbal/pitch/control_velocity
    kp: 10.2
    ki: 0.008
    kd: 0.0

pitch_velocity_pid_controller:
  ros__parameters:
    measurement: /gimbal/pitch/velocity_imu
    setpoint: /gimbal/pitch/control_velocity
    control: /gimbal/pitch/control_torque
    kp: 1.8
    ki: 0.12
    kd: 0.0

friction_wheel_controller:
  ros__parameters:
    friction_wheels:
      - /gimbal/left_friction
      - /gimbal/right_friction
    friction_velocities:
      - 600.0
      - 600.0
    friction_soft_start_stop_time: 1.0

heat_controller:
  ros__parameters:
    heat_per_shot: 10000
    reserved_heat: -100

bullet_feeder_controller:
  ros__parameters:
    bullets_per_feeder_turn: 9.0
    shot_frequency: 24.0
    safe_shot_frequency: 10.0
    eject_frequency: 15.0
    eject_time: 0.15
    deep_eject_frequency: 15.0
    deep_eject_time: 0.20
    single_shot_max_stop_delay: 2.0

left_friction_velocity_pid_controller:
  ros__parameters:
    measurement: /gimbal/left_friction/velocity
    setpoint: /gimbal/left_friction/control_velocity
    control: /gimbal/left_friction/control_torque
    kp: 0.003436926
    ki: 0.0
    kd: 0.0

right_friction_velocity_pid_controller:
  ros__parameters:
    measurement: /gimbal/right_friction/velocity
    setpoint: /gimbal/right_friction/control_velocity
    control: /gimbal/right_friction/control_torque
    kp: 0.003436926
    ki: 0.0
    kd: 0.0

bullet_feeder_velocity_pid_controller:
  ros__parameters:
    measurement: /gimbal/bullet_feeder/velocity
    setpoint: /gimbal/bullet_feeder/control_velocity
    control: /gimbal/bullet_feeder/control_torque
    kp: 1.0
    ki: 0.0
    kd: 0.0